WebInterface/node_modules
WebInterface/src/artifacts
WebInterface/cache
Application/src/EthBasis.java
Application/SixG_Strategy.bin
Application/SixG_Strategy.abi
WebInterface/cache/solidity-files-cache.json
WebInterface/src/artifacts/hardhat/console.sol/console.dbg.json
WebInterface/src/artifacts/hardhat/console.sol/console.json
