.navbar {
  background: orangered;
  height: 85px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 0.2rem;
  z-index: 12;
  position: sticky; 
  top: 0;
}

.navMenu {
  align-items: center;
  margin-left: auto; 
  margin-right: auto;
  padding-left: 29%;
}

.navigationLink {
color: #fff;
width: 20%;
text-decoration: none;
padding: 0 4rem;
margin-left: auto; 
margin-right: auto;
height: 100%;
font-size: 150%;
cursor: pointer;
}

.navBtn {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.address {
  color: white  
}

.addressBtn {
  border-radius: 4px;
  background: transparent;
  padding: 10px 22px;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  text-align: center;
  align-items: center;
  width: 6vw;
  padding: 0px;
  font-size: 18px;
}
.addressBtn:active {
  background-color: #ba3200;
}

.addressLabel {
  color: #fff;
  font-size: 18px;
}

.addressInput {
  font-size: 14px;
  height: 30px;
}