
.modal {  
  font-size: 12px;
}

.header {  
  width: 100%;  
  border-bottom: 1px solid gray;  
  font-size: 18px;  
  text-align: center;  
  padding: 5px;
}

.content {  
  width: 100%;  
  padding: 10px 5px;
}

.detailBtn {
  font-size: 1rem;
  background: grey ;
  color: white;
}

.gridContainer {
  width: 40vw;
  height: 40vh;
  background-color: white;
}

.strategy {
  display: flex;
  background-color: orangered;
  width: 100%;
  color: white;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  border-color: black;
}